<div id="tournamentBoard">
  <div id="header">
    <div id="title">{{tournament.title}}</div>
    <div id="description">{{tournament.description}}</div>
  </div>
  <div id="leftColumn">
    <div id="levelContainer">
      <div id="levelTitle">{{tournament.levelsAndBreaks[tournament.currentLevelIndex].levelType}}</div>
      <div id="level">{{tournament.levelsAndBreaks[tournament.currentLevelIndex].levelIndex}}</div>
    </div>
    <div id="entriesContainer">
      <div id="entriesTitle">Entries</div>
      <div id="entries">{{tournament.numberOfEntrants}}</div>
    </div>
    <div id="playersContainer">
      <div id="playersTitle">Players In</div>
      <div id="players">{{tournament.numberOfPlayersRemaining}}</div>
    </div>
    <div id="rebuysContainer">
      <div id="rebuysTitle">Rebuys</div>
      <div id="rebuys">{{tournament.numberOfRebuys}}</div>
    </div>
    <div id="potContainer">
      <div id="potTitle">Total Pot</div>
      <div id="pot">{{tournament.buyIn * tournament.numberOfEntrants + tournament.rebuyAmount * tournament.numberOfRebuys | currency:'USD':true:'1.0-0'}}</div>
    </div>
  </div>
  <div id="centerArea">
    <div id="timeContainer">
      <div id="countdown" [ngClass]="{'timerNormal': tournament.secondsRemaining > 5, 'timerLow': tournament.secondsRemaining <= 5}">
        {{tournament.secondsRemaining | timerFormat: (tournament.levelsAndBreaks[tournament.currentLevelIndex].levelTime >= 60)}}
      </div>
    </div>
    <div id="blindsContainer">
      <div id="blindsTitle" *ngIf="tournament.levelsAndBreaks[tournament.currentLevelIndex].levelType === 'Break'">Break</div>
      <div id="blindsTitle" *ngIf="tournament.levelsAndBreaks[tournament.currentLevelIndex].levelType === 'Level' &&
                                   tournament.levelsAndBreaks[tournament.currentLevelIndex].ante === 0">Blinds</div>
      <div id="blindsTitle" *ngIf="tournament.levelsAndBreaks[tournament.currentLevelIndex].levelType === 'Level' &&
                                   tournament.levelsAndBreaks[tournament.currentLevelIndex].ante !== 0">Blinds + Ante</div>
        <div id="blinds" *ngIf="tournament.levelsAndBreaks[tournament.currentLevelIndex].levelType === 'Level' &&
                                tournament.levelsAndBreaks[tournament.currentLevelIndex].ante === 0">
          {{tournament.levelsAndBreaks[tournament.currentLevelIndex].smallBlind | currency:'USD':true:'1.0-0'}} /
          {{tournament.levelsAndBreaks[tournament.currentLevelIndex].bigBlind | currency:'USD':true:'1.0-0'}}
        </div>
        <div id="blinds" *ngIf="tournament.levelsAndBreaks[tournament.currentLevelIndex].levelType === 'Level' &&
                                tournament.levelsAndBreaks[tournament.currentLevelIndex].ante !== 0">
          {{tournament.levelsAndBreaks[tournament.currentLevelIndex].smallBlind | currency:'USD':true:'1.0-0'}} /
          {{tournament.levelsAndBreaks[tournament.currentLevelIndex].bigBlind | currency:'USD':true:'1.0-0'}} /
          {{tournament.levelsAndBreaks[tournament.currentLevelIndex].ante | currency:'USD':true:'1.0-0'}}
        </div>
      </div>
      <div id="nextLevelContainer">
        <div id="nextLevelBlinds" *ngIf="tournament.currentLevelIndex < tournament.levelsAndBreaks.length - 1 &&
                                         tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].levelType === 'Break'">
          Break {{tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].levelIndex}}
        </div>
        <div id="nextLevelBlinds" *ngIf="tournament.currentLevelIndex < tournament.levelsAndBreaks.length - 1 &&
                                         tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].levelType === 'Level' &&
                                         tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].ante === 0">
          Next Level: {{tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].smallBlind | currency:'USD':true:'1.0-0'}} /
                      {{tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].bigBlind | currency:'USD':true:'1.0-0'}}
        </div>
        <div id="nextLevelBlinds" *ngIf="tournament.currentLevelIndex < tournament.levelsAndBreaks.length - 1 &&
                                         tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].levelType === 'Level' &&
                                         tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].ante !== 0">
          Next Level: {{tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].smallBlind | currency:'USD':true:'1.0-0'}} /
                      {{tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].bigBlind | currency:'USD':true:'1.0-0'}} /
                      {{tournament.levelsAndBreaks[tournament.currentLevelIndex + 1].ante | currency:'USD':true:'1.0-0'}}
        </div>
      </div>
  </div>
  <div id="rightColumn">
    <table id="blindSchedule">
      <ng-container *ngFor="let level of tournament.levelsAndBreaks.slice(startBlindIndex, endBlindIndex + 1);
                            let i = index">
        <tr *ngIf="level.levelType === 'Level'">
          <td class="levelLargeText" [ngClass]="getClassForLevel(i + startBlindIndex)">
            Level {{level.levelIndex}}
          </td>
        </tr>
        <tr *ngIf="level.levelType === 'Level' &&
                   level.ante === 0">
          <td [ngClass]="getClassesForBlinds(i + startBlindIndex)">
            {{level.smallBlind | currency:'USD':true:'1.0-0'}} /
            {{level.bigBlind | currency:'USD':true:'1.0-0'}}
          </td>
        </tr>
        <tr *ngIf="level.levelType === 'Level' &&
                   level.ante !== 0">
          <td [ngClass]="getClassesForBlinds(i + startBlindIndex)">
            {{level.smallBlind | currency:'USD':true:'1.0-0'}} /
            {{level.bigBlind | currency:'USD':true:'1.0-0'}} /
            {{level.ante | currency:'USD':true:'1.0-0'}}
          </td>
        </tr>
        <tr *ngIf="level.levelType === 'Break'">
          <td class="levelLargeText" [ngClass]="getClassForLevel(i + startBlindIndex)">
            Break {{level.levelIndex}}
          </td>
        </tr>
        <tr *ngIf="level.levelType === 'Break'">
          <td class="levelLargeText" [ngClass]="getClassForLevel(i + startBlindIndex)">
            {{level.levelTime}} minutes
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div id="footer">
    <ul id="payouts">
      <li class="payout" *ngFor="let payout of tournament.payouts; let i = index">
        {{places[i]}}:  {{payout * (tournament.buyIn * tournament.numberOfEntrants + tournament.rebuyAmount * tournament.numberOfRebuys) | currency:'USD':true:'1.0-0'}}
      </li>
    </ul>
  </div>
</div>
