<div id="tournamentBoard">
  <div id="header">
    <div id="title">Friday Night Poker</div>
    <div id="description">$10 Buy-in (1 rebuy through level 5)</div>
  </div>
  <div id="leftColumn">
    <div id="levelContainer">
      <div id="levelTitle">Level</div>
        <div id="level">1</div>
    </div>
    <div id="entriesContainer">
      <div id="entriesTitle">Entries</div>
      <div id="entries">0</div>
    </div>
    <div id="playersContainer">
      <div id="playersTitle">Players In</div>
      <div id="players">0</div>
    </div>
    <div id="rebuysContainer">
      <div id="rebuysTitle">Rebuys</div>
      <div id="rebuys">0</div>
    </div>
    <div id="potContainer">
      <div id="potTitle">Total Pot</div>
      <div id="pot">$100</div>
    </div>
  </div>
  <div id="centerArea">
    <div id="timeContainer">
      <div id="countdown">20:00</div>
    </div>
    <div id="blindsContainer">
      <div id="blindsTitle">Blinds</div>
        <div id="blinds">$5 / $10</div>
      </div>
      <div id="nextLevelContainer">
        <div id="nextLevelBlinds">Next Level: $10 / $15</div>
      </div>
  </div>
  <div id="rightColumn">
    <table id="blindSchedule">
    </table>
  </div>
  <div id="footer">
    <ul id="payouts">
    </ul>
  </div>
</div>
